---
layout: home-page
---
<title>{{ site.title }}</title>
<meta name="description" content="{{ site.description }}" />
<meta name="keywords" content="{{ site.keywords }}" />
<meta name="author" content="{{ site.author }}" />
<link rel="stylesheet" href="assets/css/academicons.min.css"/>

<div class="small-wrapper">
    <div class="about-container">
      <section class="about-header">
        <div class="author-image-container">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="{{site.author}}">
        </div>
        <p class="subtitle">{{site.about-author}}</p>
      </section>
      <section class="about-body">
        <ul class="contact-list">
        <li class="email"><a href="mailto:{{site.email}}"><i class="fa fa-envelope-o"></i></a></li>
        <li class="website"><a href="http://{{site.website}}" target="_blank"><i class="fa fa-globe"></i></a></li>
        <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <li class="github"><a href="http://github.com/{{site.github}}" target="_blank"><i class="fa fa-github"></i></a></li>
        <li class="google"><a href="https://scholar.google.com/citations?user=KD12DDMAAAAJ&hl=en" target="_blank"><i class="ai ai-google-scholar"></i></a></li>
        <li class="cv"><a href="assets/files/Chiyu_Max_Jiang_CV.pdf" target="_blank"><i class="ai ai-cv"></i></a></li>

        </ul>
      </section> <!-- End About Body-->
    </div> <!-- End About Container -->
</div> <!-- End Small Wrapper -->
<!-- <div class="wrapper">
 -->  
 <div class="content-wrapper">
    <!-- {{ content | markdownify }} -->
    {{ content }}
 </div>
<!-- </div> --> <!-- End Wrapper -->